@import "./style/main.scss";
@import "./style/nav.scss";
@import "./style/contact.scss";
@import "./style/variadles";

body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 50px;
}
::-webkit-scrollbar-track {
  background: $write;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: $blue-500;
  border-radius: 8px;
  border: 2px solid $blue-500;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0px;
  display: flex;
  position: relative;
}

.boxContainer {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
