.navigation {
  position: fixed;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(241, 182, 191), #555252);
  ul {
    width: 100%;
    margin: auto;
    padding: 0;
  }
  li {
    list-style: none;
    text-transform: uppercase;
    height: 50px;
    display: flex;
    border: 1px solid blue;
    margin-top: 20px;

    :hover {
      background-color: #696565;
      color: #ffff;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: auto;
    color: #292828;
    text-decoration: none;
    display: flex;
  }

  p {
    vertical-align: center;
    margin: auto;
  }

  h2 {
    font-size: 30px;
    margin: auto;
    text-align: center;
  }
}

.logo {
  width: 100%;
  height: 30%;
}
.nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logotype {
  max-width: 150px;
  max-height: 150px;
}

.nav {
  margin-top: 10px;
}
